df-messenger {
   --df-messenger-bot-message: #f12e2e;
   --df-messenger-button-titlebar-color: #9f0000;
   --df-messenger-chat-background-color:#fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #ac8787;
   --df-messenger-user-message: #38be38;
  }
